h1{
    font-size: medium;
    /* border: 10px solid red; */
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1181769/pexels-photo-1181769.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}