<h1 style="text-align: center"> All Digs </h1>

{{#each sales as |sale|}}
<div class="card my-4">
  <div class="card-body">
    <h5 class="card-title">{{album_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{artist}}</h6>
    <p class="card-text">{{description}}</p>
    <p class="card-text">user: {{user.name}}</p>
    <button class="btn btn-secondary">View</button>
    {{!-- <a href="#" class="card-link">Another link</a> --}}
  </div>
</div>
{{/each}}