<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-8 col-lg-4 col-md-6">
            <h2>register</h2>
            <form action="/user/register" method="POST">
                <div class="form-group">
                    <label for="name" name="name">username</label>
                    <input required type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email" name="email">email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password" name="password">password</label>
                    <input type="password" required name="password" id="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-outline-dark">register</button>
                <a href="/" class="btn btn-outline-dark">cancel</a>
            </form>
        </div>
    </div>
</div>