<h1 style="text-align: center;"> New Seek Request </h1>
<form action="/seek/new" method="POST">
    <div class="container">
        <div class="container">
            <div class="form-group">
                <label for="album" name="album">Album Name</label>
                <input required type="album" name="album" id="album" class="form-control">
            </div>
            <div class="form-group">
                <label for="artist" name="artist">Artist Name</label>
                <input type="text" name="artist" id="artist" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description" name="description">Description</label>
                <input type="text" required name="description" id="description" class="form-control">
            </div>
            <a href="/find" class="btn btn-secondary">Cancel</a>

            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>