html{
    height: 100%;
}

::selection{
    background: rgb(208, 247, 102);
}

body{
    height: 100%;
    font-family: 'Cutive Mono', monospace;
}

#content{
    height: 100%;
}

#home-bg-img{
    height: 100%;
}

.highlight-the-post{
    color: black;
}

.highlight-the-post:hover{
    color: rgb(235, 235, 47);
}

/* h1{
    font-size: medium;
} */
/* p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
/* .jumbotron {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1181769/pexels-photo-1181769.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-position: 0px;
} */

/* TOGGLE SWITCH: */
/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  } */

/* .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} */

/* input:checked + .slider {
    background-color: #2196F3;
} */

/* focus -- may want to use this. */
/* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
} */

/* input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} */